<app-section [color]="'white'">
    <div class="scouting-title">
     <h2 class="bold-heading" [ngSwitch]="''">
        <ng-container *ngSwitchDefault>スカウティングサービス
        </ng-container>
    </h2>
        <p>
        アスリートがスカウトの目に止まるには、スカウトが選手を直接見ることでしか実現しない。
        <br />
        アナログなスカウトの世界を、段階的にIT化し、優秀な選手がよりスカウトの目に止まるような世界を実現する。
        <br />
        ※現時点では「高校生」「スポーツは野球」に限定させて頂きます。
        <br />
        ※スカウトへの情報提供（自己アピール）のプラットフォームとしてご利用くださいませ。
        <br />
        </p>
        <button mat-raised-button color="primary" routerLink="/company/contact">
        お問い合わせはこちら
        </button>
        </div>
    <h2 class="bold-heading" [ngSwitch]="''">
      <ng-container *ngSwitchDefault>特徴</ng-container>
    </h2>
    <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="space-around start">
      <div fxFlex="100">
        <mat-card>
          <mat-card-header>
            <mat-card-title>費用</mat-card-title>
            <mat-card-subtitle>無料</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100">
        <mat-card>
          <mat-card-header>
            <mat-card-title>to アスリート</mat-card-title>
            <mat-card-subtitle>サービス使用方法</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              お問い合わせフォームから、以下の内容をお送りくださいませ。
            <br>
            ・名前
            <br>
            ・メールアドレス
            <br>
            ・年齢
            <br>
            ・高校名
            <br>
            ・自己PR
            <br>
            ・Youtubeの動画リンク
            <br>
            ※練習動画や試合の様子を、非公開設定した上でYoutubeに投稿してくださいませ。
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100">
        <mat-card>
          <mat-card-header>
            <mat-card-title>to スカウトマン</mat-card-title>
            <mat-card-subtitle>サービス使用方法</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              お問い合わせフォームから、以下の内容をお送りくださいませ。
            <br>
            ・名前
            <br>
            ・メールアドレス
            <br>
            ・所属団体名（または企業名）
            <br>
            ・どのような選手をスカウトしたいのか詳細
            <br>
            お問い合わせフォームよりご連絡後、弊社からメール（info@and-ath.com）をお送り致します。
            その後、弊社に登録された選手のデータをご覧頂きます。
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </app-section>