<app-section [color]="'white'">
    <h3 class="bold-heading">SERVICES</h3>
    <div
      fxLayout="row wrap"
      fxLayoutGap="5px grid"
      fxLayoutAlign="space-around start"
    >
    <div class="item" fxFlex.xs="100">
      <mat-card-title>スカウティングサービス</mat-card-title >
      <lib-ripple-card>
      <a routerLink="services/scouting">
          <img mat-card-image src="assets/images/luster/hands-on-desk-at-meeting.jpg" width="100%" height="100%"/>
          <mat-card-content>
            <p>アスリートとスカウトを結びつけるサービス</p>
          </mat-card-content>
      </a>
      </lib-ripple-card>
    </div>
    <div class="item" fxFlex.xs="100">
      <mat-card-title>アスリートマネジメント</mat-card-title >
      <lib-ripple-card>
      <a routerLink="services/management">
          <img mat-card-image src="assets/images/luster/fistbump-over-desk.jpg" width="100%" height="100%"/>
          <mat-card-content>
            <p>アスリートの明日を作るために、多角的な視点から戦略的にマネジメントを行う
              <br>
              (Coming soon)</p>
          </mat-card-content>
      </a>
      </lib-ripple-card>
    </div>
    <div class="item" fxFlex.xs="100">
      <mat-card-title>スポ留
      </mat-card-title>
      <lib-ripple-card>
      <a routerLink="services/sporyu">
          <img mat-card-image src="assets/images/luster/young-boy-kicking-ball.jpg" width="193" height="130"/>
          <mat-card-content>
            <p>スポーツ留学をもっとカジュアルにする。誰でもスポーツ留学できる時代へ
              <br>(Coming soon)</p>
          </mat-card-content>
      </a>
      </lib-ripple-card>
    </div>
    <div class="item" fxFlex.xs="100">
      <mat-card-title>スポーツファンディング
      </mat-card-title>
      <lib-ripple-card>
      <a routerLink="services/funding">
          <img mat-card-image src="assets/images/luster/crowd-participating-at-event.jpg" width="193" height="130"/>
          <mat-card-content>
            <p>未来を担う子供たちのために、留学するための資金をスポーツ選手から募る
              <br>
              (Coming soon)</p>
          </mat-card-content>
      </a>
      </lib-ripple-card>
    </div>
    <div class="item" fxFlex.xs="100">
      <mat-card-title>アスリートコミュニティ
      </mat-card-title>
      <lib-ripple-card>
      <a routerLink="services/community">
          <img mat-card-image src="assets/images/luster/black-and-white-stadium.jpg" width="193" height="130"/>
          <mat-card-content>
            <p>アスリートのためのコミュニティを作り、誰もが情報交換できる世界へ
              <br>
              (Coming soon)</p>
          </mat-card-content>
      </a>
      </lib-ripple-card>
    </div>
      <div class="item" fxFlex.xs="100">
        <mat-card-title>キャリア支援
        </mat-card-title>
        <lib-ripple-card>
        <a routerLink="services/support-career">
            <img mat-card-image src="assets/images/luster/businessman-in-glass-elevator-going-up.jpg" width="193" height="130"/>
            <mat-card-content>
              <p>現役/元スポーツ選手のキャリアをサポートするコンサルティングサービス
                <br>
                (Coming soon)</p>
            </mat-card-content>
        </a>
        </lib-ripple-card>
      </div>
    </div>
  </app-section>
  