<app-section [color]="'white'">
    <h3 class="bold-heading">SERVICES</h3>
    <div
      fxLayout="row wrap"
      fxLayoutGap="5px grid"
      fxLayoutAlign="space-around start"
    >
    <div class="item" fxFlex.xs="100">
      <lib-ripple-card>
      <mat-card-title>アスリートマネジメント</mat-card-title>
      <a routerLink="services/coarching">
          <img mat-card-image src="assets/images/luster/fistbump-over-desk.jpg" width="193" height="130"/>
          <mat-card-content>
            <p>xxx</p>
          </mat-card-content>
      </a>
      </lib-ripple-card>
    </div>
    <div class="item" fxFlex.xs="100">
      <lib-ripple-card>
      <mat-card-title>スポ留</mat-card-title>
      <a routerLink="services/coarching">
          <img mat-card-image src="assets/images/luster/young-boy-kicking-ball.jpg" width="193" height="130"/>
          <mat-card-content>
            <p>yyy</p>
          </mat-card-content>
      </a>
      </lib-ripple-card>
    </div>
      <div class="item" fxFlex.xs="100">
        <lib-ripple-card>
        <mat-card-title>スポーツファンディング</mat-card-title>
        <a routerLink="services/coarching">
            <img mat-card-image src="assets/images/luster/crowd-participating-at-event.jpg" width="193" height="130"/>
            <mat-card-content>
              <p>yyy</p>
            </mat-card-content>
        </a>
        </lib-ripple-card>
      </div>
      <div class="item" fxFlex.xs="100">
        <lib-ripple-card>
        <mat-card-title>アスリートコミュニティ</mat-card-title>
        <a routerLink="services/online-eikaiwa">
            <img mat-card-image src="assets/images/luster/black-and-white-stadium.jpg" width="193" height="130"/>
            <mat-card-content>
              <p>zzz</p>
            </mat-card-content>
        </a>
        </lib-ripple-card>
      </div>
      <div class="item" fxFlex.xs="100">
        <lib-ripple-card>
        <mat-card-title>キャリア支援</mat-card-title>
        <a routerLink="services/online-eikaiwa">
            <img mat-card-image src="assets/images/luster/businessman-in-glass-elevator-going-up.jpg" width="193" height="130"/>
            <mat-card-content>
              <p>スポーツ選手のセカンドキャリアを支援する。</p>
            </mat-card-content>
        </a>
        </lib-ripple-card>
      </div>
    </div>
  </app-section>
  