<app-section [color]="'white'">
    <h3 class="bold-heading">SERVICES</h3>
    <div
      fxLayout="row wrap"
      fxLayoutGap="16px grid"
      fxLayoutAlign="space-around start"
    >
    <mat-card class="item" fxFlex.xs="100">
      <mat-card-title>アスリートマネジメント</mat-card-title>
      <a routerLink="services/coarching">
          <img mat-card-image src="" />
          <mat-card-content>
            <p>xxx</p>
          </mat-card-content>
      </a>
    </mat-card>
    <mat-card class="item" fxFlex.xs="100">
      <mat-card-title>スポ留</mat-card-title>
      <a routerLink="services/coarching">
          <img mat-card-image src="" />
          <mat-card-content>
            <p>自然×英会話×スポーツもっとカジュアルにスポーツ留学できる時代を作る</p>
          </mat-card-content>
      </a>
    </mat-card>
      <mat-card class="item" fxFlex.xs="100">
        <mat-card-title>スポーツファンディング</mat-card-title>
        <a routerLink="services/coarching">
            <img mat-card-image src="" />
            <mat-card-content>
              <p>yyy</p>
            </mat-card-content>
        </a>
      </mat-card>
      <mat-card class="item" fxFlex.xs="100">
        <mat-card-title>アスリートコミュニティ</mat-card-title>
        <a routerLink="services/online-eikaiwa">
            <img mat-card-image src="" />
            <mat-card-content>
              <p>zzz</p>
            </mat-card-content>
        </a>
      </mat-card>
      <mat-card class="item" fxFlex.xs="100">
        <mat-card-title>セカンドキャリア支援</mat-card-title>
        <a routerLink="services/online-eikaiwa">
            <img mat-card-image src="" />
            <mat-card-content>
              <p>スポーツ選手のセカンドキャリアを支援する。</p>
            </mat-card-content>
        </a>
      </mat-card>
    </div>
  </app-section>
  