<app-section [color]="'white'">
    <h3 class="bold-heading">Q&A</h3>
    <div
      fxLayout="column"
    >
        <div class="item" fxFlex.xs="100">
        <mat-card-title>稼働率を決められるとはどういうことですか?</mat-card-title >
            <mat-card-content>
                <p>ご自身の希望の稼働率（20%,40%,60%,80%,100%）を決めることで、弊社が希望にあった案件を案件を紹介させて頂きます。</p>
            </mat-card-content>
        </div>
        <div class="item" fxFlex.xs="100">
            <mat-card-title>希望稼働率を途中で変更することはできますか?</mat-card-title >
                <mat-card-content>
                <p>弊社とのメールのやり取りの中で、ご希望を仰って頂けると柔軟に対応させて頂きます。</p>
                </mat-card-content>
        </div>
        <div class="item" fxFlex.xs="100">
            <mat-card-title>商流が少ないというのはどういうことか?</mat-card-title >
                <mat-card-content>
                <p>従来は、クライアントと求職者との間に会社が多く入っているため、結局求職者に還元されるお金は少なくなっています。New Workerはその現状を踏まえ、商流制限を設け、適切な給与が求職者に還元されるようにします。</p>
                </mat-card-content>
        </div>
        <div class="item" fxFlex.xs="100">
            <mat-card-title>どうしたら案件を探すことができますか?</mat-card-title >
                <mat-card-content>
                <p>「案件を探す」→フォーム入力→送信、のあと、弊社からご希望にあった案件情報のメールをお送りさせて頂きます。</p>
                </mat-card-content>
        </div>
    </div>
  </app-section>
  