<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="mat-elevation-z16 sidenav">
    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content" id="sidenav-content">
    <mat-toolbar class="mat-elevation-z4" fxLayout="row">
      <a mat-button [routerLink]="''" fxFlex="10%">
        <h2>New Worker</h2>
      </a>
      <span fxFlex="1 1 auto"></span>
      <a mat-button [routerLink]="''">
        <span>Home</span>
      </a>
      <a mat-button [routerLink]="'/company/contact'">
        <span>企業担当者様</span>
      </a>
      <a mat-button [routerLink]="'/company/contact'">
        <span>求職者様</span>
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>