<app-section [color]="'white'">
    <h3 class="bold-heading">Voices</h3>
    <div
      fxLayout="column"
    >
        <div class="item" fxFlex.xs="100">
        <mat-card-title>xxx</mat-card-title >
            <mat-card-content>
                <p>xxx</p>
            </mat-card-content>
        </div>
        <div class="item" fxFlex.xs="100">
            <mat-card-title>yyy</mat-card-title >
                <mat-card-content>
                <p>yyy</p>
                </mat-card-content>
        </div>
        <div class="item" fxFlex.xs="100">
            <mat-card-title>zzz</mat-card-title >
                <mat-card-content>
                <p>zzz</p>
                </mat-card-content>
        </div>
    </div>
  </app-section>
  