<div class="gradient" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="8%"></div>
  <div fxFlex="42%" fxFlex.lt-md="42%" fxLayoutGap="12px">
    <p class="heading">稼働率を自分で決め、<br>商流が少なく、<br>フリーランスに還元される世界へ</p>
    <button mat-flat-button color="white" routerLink="/company/contact">
      案件を探す
    </button>
    <button mat-flat-button color="white" routerLink="/company/contact">
      フリーランスを探す
    </button>
  </div>
  <img
    fxFlex="50%"
    fxFlex.lt-md="50%"
    class="heading-img"
    src="assets/images/luster/Visual-data-bro.png"
  />
</div>