header {
    background-image: url('src/assets/images/luster/white.png');
    background-position: center;
    width: 100%;
    height: 90vh;
  }
  
  .heading {
    position: relative;
    color: black;
    font-size: 300%;
    font-family: HelveticaNeue-CondensedBold;
    font-weight: bold;
    z-index: 1;
  }