<app-section [color]="'white'">
    <h3 class="bold-heading">
      COMPANY
    </h3>
    <div class="information">
      <img src="assets/images/luster/&athlogo.jpg" width="10%" height="10%"/>
      <div>株式会社& ath</div>
      <br>
      <div>〒150-0044<br></div>
      東京都渋谷区円山町5番5号 Navi渋谷Ⅴ 3階
      <div>2020年4月 設立</div>
      <div>info@and-ath.com</div>
      <!-- <dl>
        <dt [ngSwitch]="''">
          <ng-container *ngSwitchDefault>代表取締役社長</ng-container>
        </dt>
        <dd [ngSwitch]="''">
          <ng-container *ngSwitchDefault>三保 将司</ng-container>
        </dd>
      </dl> -->
    </div>
  </app-section>
  