<app-section [color]="'white'">
    <h3 class="bold-heading">
      COMPANY
    </h3>
    <img fxFill src="assets/images/luster/logo.png" />
    <div>
      <dl>
        <dt [ngSwitch]="''">
          <ng-container *ngSwitchDefault>会社名</ng-container>
        </dt>
        <dd [ngSwitch]="''">
          <ng-container *ngSwitchDefault>株式会社& ath</ng-container>
        </dd>
      </dl>
      <dl>
        <dt [ngSwitch]="''">
          <ng-container *ngSwitchDefault>本社所在地</ng-container>
        </dt>
        <dd [ngSwitch]="''">
          <ng-container *ngSwitchDefault>
            〒150-0044<br>
            東京都渋谷区円山町5番5号 Navi渋谷Ⅴ 3階
          </ng-container>
        </dd>
      </dl>
      <dl>
        <dt [ngSwitch]="''">
          <ng-container *ngSwitchDefault>設立</ng-container>
        </dt>
        <dd [ngSwitch]="''">
          <ng-container *ngSwitchDefault>2020年4月</ng-container>
        </dd>
      </dl>
      <dl>
        <dt [ngSwitch]="''">
          <ng-container *ngSwitchDefault>会計期間</ng-container>
        </dt>
        <dd [ngSwitch]="''">
          <ng-container *ngSwitchDefault>4月〜3月</ng-container>
        </dd>
      </dl>
      <dl>
        <dt [ngSwitch]="''">
          <ng-container *ngSwitchDefault>代表取締役社長</ng-container>
        </dt>
        <dd [ngSwitch]="''">
          <ng-container *ngSwitchDefault>三保 将司</ng-container>
        </dd>
      </dl>
    </div>
  </app-section>
  